
  .navBar {
    display: flex;
    flex-direction: row;
    background-color: rgb(123, 180, 216);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: rgb(33, 62, 142);
    align-items: center;
    min-height: 40px;
    padding-left: 25px;
    font-size: large;
  }

  .card {
    border-style: solid;
    border-width: 2px;
    border-color: rgb(83, 0, 238);
    border-radius: 10px;
    max-width: 200px;
    margin: 15px;
    text-align: center
  }
  
  .card-body {
    margin: auto;
    width: max-content;
  }

  .card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .all-osoblje {
    display: flex;
    margin: 20px;
    text-align: center
  }
  
  
  .card1 {
    max-width: 800px; 
    margin: 0 auto; 
  }
  
  .preglediKartona{ 
    margin: 10;
}
  
 .cardTermin{
  display: inline-flex;
 }

 .formaAdd {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;  
}

.formaAdd h2 {
  margin-top: 0;
  text-align: center;
}

.formaAdd label {
  display: block;
  margin-bottom: 10px;
}

.formaAdd input[type="text"],
.formaAdd input[type="email"] {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.formaAdd input[type="text"]:focus,
.formaAdd input[type="email"]:focus {
  border-color: #aaa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formaAdd button[type="submit"] {
  width: 100%;
  height: 40px;
  background-color: #4CAF50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.formaAdd button[type="submit"]:hover {
  background-color: #3e8e41;
}



